@import "tailwindcss";

@theme {
  --color-primary: #e50914;
  --color-background: #141414;
  --color-surface: #181818;
}

@layer base {
  body {
    @apply bg-background text-white font-sans overflow-x-hidden;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
